<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-3" id="task">
              <h1 id="title">{{title}}</h1>

            <div class="input-group" >
                <input id="inputTask" #spy name="task" placeHolder="Add new task..." (keyup.enter)="addTask(taskText)" [(ngModel)]="taskText" class="form-control" required/>
                  
                <span class="input-group-addon">
                 <button (click)="addTask(taskText)"  class="btn btn-xs  btn-primary" > <span  class="glyphicon glyphicon-plus" aria-hidden="true" alt="Add"></span> Add </button>
                  <button (click)="reset()" class="btn btn-xs btn-primary">clear</button>
                 
                </span>
            </div>
            
            <div *ngIf="errMsg">
                   <p id="errMessage"><strong> Sorry , Task is not added ! Please add task </strong>
                      <span id="errButton">
                           <button class="btn btn-info btn-xs" (click)="dismiss()" id="cbutton">Clear</button>
                           <button class="btn btn-info btn-xs" (click)="addAnyWay(taskText)" id="abutton">Add</button>
                      </span>
                   </p>
                   
            </div>
           
             
              <div *ngIf="Tasks">
                 <h4  id="ttcTitle" >Task-to-do : </h4><hr />
                     <ul class="list-group">
                        
                         <li  *ngFor="let task of Tasks" class="list-group-item taskToComplete"> 
                             <span class="dateTime">{{task.timeStamp |date}} {{task.timeStamp| date:''}}</span> 
                           
                            <span class="list-group-addon ctrlButtons " >
                                <button (click)="markAsComplete(task)" class="btn btn-xs btn-success">completed</button>
                                <button (click)="editTask(task)" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</button>
                                <button (click)="deleteTask(task)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
                            </span><br />
                            {{task.name}}
                         </li>  
                     </ul>
              </div>  
              
             


             

              <div *ngIf="dTask">
                <h4 style="color:rgb(0, 153, 153)">Completed-task : </h4><hr/>
                <ul class="list-group">
                  <li  *ngFor="let task of dTask" class="list-group-item colmpletedTask"> 
                     <span class="dateTime">Completed on:{{task.timeStamp |date}} {{task.timeStamp | date:''}}</span>
                   
                     <span class="list-group-addon" style="float:right">
                       <button (click)="deleteDTask(task)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
                     </span><br />
                      {{task.name}}
                   
                  </li>
                </ul>
              </div>
                
      </div>       

    </div>

</div>
<router-outlet></router-outlet>
